.app {
  border: 1px solid black;
  height: 100vh;
  padding: 10px;
}
.margin_top_small {
  margin-top: 25px;
}

.center {
  display: flex;
  justify-content: center;
}
.align_center {
  text-align: center;
}

.absolute {
  position: absolute;
}

.red {
  color: red;
}

.Detecting {
  position: relative;
  top: -30px;
  margin-top: 70px;
}

.font_600 {
  font-weight: 500;
}
