.app {
  border: 1px solid black;
  height: 100vh;
  margin: 10px;
}

.center {
  display: flex;
  justify-content: center;
}
.align_center {
  text-align: center;
}

.absolute {
  position: absolute;
}
